.requisition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .requisition > div {
    flex: 1;
    text-align: center;
  }
.requisition-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f3f3f3;
  border-bottom: 2px solid #d1d1d1;
}

.requisition-header span {
  flex: 1;
  text-align: center;
}
.delete-button {
  margin-left: auto;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  left: 50%;     
}
